:root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    font-weight: 400;
    
    color-scheme: light dark;
    color: rgba(54, 54, 54, 0.87);
    background-color: black;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    
    display: flex;
    flex-direction: column;
}

body {
    all: inherit;
}

main {
    flex: 1;
    padding: 10vh 10vw 0 10vw;
}

#theme {
    cursor: pointer;
}

section {
    display: inherit;
    flex-direction: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 75vw;
    resize: none;
    border: none;
    outline: none;
    background-color: inherit;

    font-size: 2.5rem;
    color: inherit;

    font-family: inherit;
    text-align: center;
}

span {
    color: red;
}

button {
    font-size: 1.4rem;
    padding: 0.3rem 2rem;
    border-radius: 500px;
    margin: 1rem;
    color: white;
}

button:nth-child(3) {
    background-color: green;
}

button:nth-child(4) {
    background-color: red;
}

footer {
    flex-shrink: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (prefers-color-scheme: light) {
    :root, textarea {
        color: #213547;
        background-color: white;
    }
}

@media (max-width: 700) and (max-height: 700) {
    textarea {
        font-size: 1.5rem;
    }
}
